<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="onesignal-cordova-dependencies-compat"
    version="1.0.0">

  <name>OneSignal Android Dependencies</name>
  <author>Josh Kasten</author>

  <description>This addes required Android dependencies needed by OneSignal. Designed for Intel XDK to be used with onesignal-cordova-plugin-pgb-compat. Use onesignal-cordova-plugin instead if you not using Intel XDK.</description>

  <keywords>OneSignal, Intel XDK, compat</keywords>

  <license>MIT</license>

  <engines>
    <engine name="cordova-android" version=">=4.0.0" /> <!-- This main branch of OneSignal depends on gradle and maven. -->
  </engines>
  
  <platform name="android">
    <framework src="com.google.android.gms:play-services-gcm:+" />
    <!-- play-services-analytics is only required when gms version 8.1.0 or older is used. -->
    <framework src="com.google.android.gms:play-services-analytics:+" />
    <framework src="com.google.android.gms:play-services-location:+" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="OneSignalDependenciesCompat" >
        <param name="android-package" value="com.plugin.gcm.OneSignalDependenciesCompat" />
      </feature>
    </config-file>
  </platform>

</plugin>

